/*вспомогательные классы*/

/*чтобы картинки не уходили за границы*/
img {
    max-width: 100%;
    height: auto;
}

/*Класс для того, чтобы контейнер float разметки "видел" их */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*КОНЕЦ Вспомогательны классы*/

body {
  font-family: 'Roboto Slab', "Tahoma", serif;
  width: 1020px;
  margin: auto;
  font-size: 14px;
  line-height: 16px;
  background: #fff;
  color: #000;  
}
/*	Шапка	*/
header {
  height: 35px;
  margin: 30px 40px;
}

ul {
  text-transform: uppercase;
}

/*шапка*/
.header-logo {
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.header-logo>a {
  text-decoration: none;
  color: #000;
}


.header-menu {
  float: right;
}
.logo-img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  vertical-align: top;  
  
}

.header-slogan {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.header-slogan>span {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  
}

.header-menu-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-ul>li {
  display: inline-block;
  vertical-align: top;  
}

.header-menu-ul a {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  vertical-align: top;
  color: #000;
}

.header-menu-ul a:hover {
  background-color: #1bbc9b;
  color: #fff;
}

/*если на этой странице, то span */
.header-menu-ul span {
  display: inline-block;
  padding: 12px;  
  vertical-align: top;
  color: #000;
}

.header-menu-ul span:hover {
  background-color: #1bbc9b;
  color: #fff;
}

/*Portfoloio*/
.portfolio {  
  min-height: 635px;  
  padding-top: 50px;
  background-color: #1bbc9b;  
}

.portfolio>h1 {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.portfolio-items {
  margin: auto;
  padding: 0 65px;
  padding-top: 40px;
  text-align: center;
}
  
.item-portfolio {
  display: inline-block;
  width: 180px;
  height: 180px;
  margin-right: 55px;
  margin-left: -0.25em;
  margin-bottom: 34px; 
  background-color: #fff;
  border-radius: 50%; 
}

.item-portfolio a{
  display: block;
  width: 100%;
  height: 100%;
}

.item-portfolio:nth-child(4n) {
  margin-right: 0;  
}

.portfolio-items > section:nth-of-type(1) {
  background: url("../img-maket/maket1.jpg");
}

.portfolio-items > section:nth-of-type(2) {
  background: url("../img-maket/maket2.jpg");
}

.portfolio-items > section:nth-of-type(3) {
  background: url("../img-maket/maket3.jpg");
}

/*=======================*/
/*Подвал*/
footer {
  height: 46px;
  padding: 21px 40px;
  background-color: #2d3e50;
  color: #fff;
}

.footer-copyright {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 46px;
  vertical-align: top;
  
}

.footer-up {
  position: relative;
  float: right;
  width: 46px;
  height: 46px;

  background-color: #1bbc9b;
}

.footer-up a{
  width: 100%;
  height: 100%;
  display: block;  
  text-decoration: none;
}

.figure-up {
  position: absolute;
  top: 19px;
  left: 13px;
  width: 16px;
  height: 16px;     
  border-left: 4px solid #fff;  
  border-top: 4px solid #fff; 
  -webkit-transform: rotate(45deg); 
          transform: rotate(45deg);

}

/*about*/
.about{
  padding: 40px 0;
  line-height: 20px;
  background-color: #1bbc9b;
  color: #fff;
}

.b-block{
  display: block;
}

.about-resume {
  float: left;
  width: 65%;
  padding-left: 40px;
  padding-right: 20px;    
}

.about-resume h2{
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 20px;
  line-height: 28px;
}

.about-resume p{
  margin: 0;
  padding: 0;  
  margin-bottom: 10px;
}

.about-resume-aside {
  float: right;  
  width: 20%;
  padding-left: 20px;  
  padding-right: 40px;
  text-align: center;
}

.about-resume-aside>h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  line-height: 36px;
}

.about-resume-aside>h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 28px;

}

.about-resume-aside a {
  display: inline-block;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  color: #fff;
}

.about-content-section {
  display: block;
  margin-left: 80px;
}

.resume-item-work {
  padding: 5px 0 5px 20px;
  border-bottom: 1px dashed #fff;
}

.resume-item-work ul {
  text-transform: none; 
}

.iw-date {
  font-weight: bold;
  background-color: #fff;
  color: #000;
}

.select {
  margin: 5px 0;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;  
}