/* Цвет фона */
/* Цвет текста */
/* Размеры */
/*font-size*/
/*размер сайта*/
/*== Примеси, сами не выводятся ==*/
/*==============================*/
/*Меню Портфолио*/
.portfolio {
  background: #ECF0F1;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  height: 80%;
}
.portfolio > h1 {
  margin: auto;
}
.portfolio > nav {
  display: none;
  margin: auto;
}
.portfolio > nav > ul {
  margin: 0;
  padding: 0;
  width: 100%;
}
#portfolio > li {
  display: block;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  padding: 0 5pt;
  background: #16A086;
}
#portfolio > li > a {
  display: block;
  /*	fs - размер шрифта
		ccolor - цвет ссылки
	*/
  font-size: 125%;
  color: #fff;
  text-decoration: none;
}
#portfolio > li > a:hover {
  background: #12816c;
}
#one-str,
#two-str {
  margin: auto;
}
#one-str > section,
#two-str > section {
  /* 	@w -ширина
		@h -высота */
  display: inline-block;
  width: 125pt;
  height: 125pt;
  border-radius: 50%;
  border: 1px solid black;
  margin: 25pt;
}
#one-str > section > a,
#two-str > section > a {
  display: block;
  height: 100%;
  width: 100%;
}
#one-str > section:nth-of-type(1) {
  background: url("/images/maket1.jpg");
}
